html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: cyan;
  color: black;
}

/* .MainSection {
  border: 2px solid blue;
}

.Articles {
  border: 2px solid brown;
}

nav {
  border: 2px solid green;
}

.ArticlesList {
  border: 2px solid yellow;
}

.ArticleListCard {
  border: 2px solid red;
}

.CommentCard {
  border: 2px solid red;
} */
